{% extends 'base.html.twig' %}

{% block title %}Condiciones de uso{% endblock %}

{% block body %}
    <h1>Condiciones de uso</h1>

    <p>
        En esta sección se detallarán las condiciones generales para el uso
        del sitio web y la participación en los eventos publicados.
    </p>
{% endblock %}