{% extends 'base.html.twig' %}

{% block title %}Licencia{% endblock %}

{% block body %}
    <h1>Licencia</h1>

    <p>
        En esta sección se indicará la licencia de uso del sistema,
        del contenido publicado y de los materiales disponibles.
    </p>
{% endblock %}