{% extends 'base.html.twig' %}

{% block title %}Patrocinadores{% endblock %}

{% block body %}
    <h1>Patrocinadores</h1>

    <p>
        En esta sección se mostrará información sobre las instituciones,
        empresas u organizaciones que acompañan los eventos publicados
        en el sistema.
    </p>
{% endblock %}