{% extends 'base.html.twig' %}

{% block title %}Privacidad{% endblock %}

{% block body %}
    <h1>Política de privacidad</h1>

    <p>
        En esta sección se informará cómo se tratan los datos personales
        de los usuarios que utilizan el sistema de gestión de eventos.
    </p>
{% endblock %}